div.grid-menu
{
    margin-bottom: 10px;
}

div.search-panel
{
    background-color: khaki;
    display: inline-block;
}

.search-panel input
{
    width: 300px;
}

.new-item-button
{
    position: fixed;
    right: 15px;
}

.row-clickable
{
    cursor: pointer;  
}